<% layout("/layouts/boilerplate") %>
<body>   
        <div class="col-sm-6 mb-3 mb-sm-0 offset-3">
            <br>
            <h3>Activity details:</h3>
            <div class="card text-center">
              <div class="card-header">
                <h4><b><%= list.activity %></b></h4>
              </div>
              <div class="card-body">
                <h5><%=  new Date(list.date).toLocaleDateString() %></h5>
                <h6>Points: <%= list.points %></h6>
                <h6>
                  Status: 
                  <% if (list.verify === -1) { %>
                    <span style="color: blue;">Pending</span>
                  <% } else if (list.verify === 0) { %>
                    <span style="color: red;">Rejected</span>
                  <% } else if (list.verify === 1) { %>
                    <span style="color: green;">Approved</span>
                  <% } %>
                </h6>
                <p class="card-text"><%= list.description %></p>
                <a href="<%= list.certificate.url %>" target="_blank" class="btn btn-primary">Certificate</a>
              </div>
            </div>
            
            
              <br>
              <% if (list.verify !== 1) { %>
                    <form method="POST" action="/dashboard/<%=list._id%>?_method=Delete">
        <button type="button submit " class="btn btn-outline-dark">Delete</button>
    </form>
              <% }%>
          
        </div>
</body>
